.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__containerForm {
        width: 400px;

        &-title {
            text-align: center;
            padding-bottom: 50px;
            color: #fff; 
            font-size: 40px;
            font-weight: lighter;

            span {
                color: #ff7c1b;
            }
        }
    }
}